[submodule "submodules/pfsense-backup"]
	path = submodules/pfsense-backup
	url = git@github.com:edgauthier/pfsense-backup.git
[submodule "submodules/p4csv"]
	path = submodules/p4csv
	url = git@github.com:edgauthier/p4csv.git
[submodule "submodules/hash"]
	path = submodules/hash
	url = git@github.com:edgauthier/hash.git
[submodule "submodules/download-test"]
	path = submodules/download-test
	url = git@github.com:edgauthier/download-test.git
[submodule "submodules/p4changelog"]
	path = submodules/p4changelog
	url = git@github.com:edgauthier/p4changelog.git
[submodule "submodules/pinboard_linkrot"]
	path = submodules/pinboard_linkrot
	url = git@github.com:edgauthier/pinboard_linkrot.git
